<div class="main-container">
  <div class="row1">
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S1</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[0].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[0].Seat_No, selected_bus[0].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S2</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[1].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[1].Seat_No, selected_bus[1].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S3</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[2].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[2].Seat_No, selected_bus[2].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S4</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[3].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[3].Seat_No, selected_bus[3].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S5</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[4].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[4].Seat_No, selected_bus[4].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S6</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[5].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[5].Seat_No, selected_bus[5].Seat_type)
            "
          />
        </label>
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S7</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[6].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[6].Seat_No, selected_bus[6].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S8</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[7].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[7].Seat_No, selected_bus[7].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S9</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[8].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[8].Seat_No, selected_bus[8].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S10</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[9].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[9].Seat_No, selected_bus[9].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S11</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[10].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[10].Seat_No, selected_bus[10].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">S12</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[11].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[11].Seat_No, selected_bus[11].Seat_type)
            "
          />
        </label>
      </div>
    </div>
  </div>
  <div class="row3">
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLL-1</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[12].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[12].Seat_No, selected_bus[12].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLL-2</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[13].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[13].Seat_No, selected_bus[13].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLL-3</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[14].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[14].Seat_No, selected_bus[14].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLL-4</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[15].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[15].Seat_No, selected_bus[15].Seat_type)
            "
          />
        </label>
      </div>
    </div>
  </div>
  <hr />
  <div class="row4">
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-1</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[16].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[16].Seat_No, selected_bus[16].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-2</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[17].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[17].Seat_No, selected_bus[17].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-3</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[18].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[18].Seat_No, selected_bus[18].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-4</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[19].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[19].Seat_No, selected_bus[19].Seat_type)
            "
          />
        </label>
      </div>
    </div>
  </div>
  <div class="row5">
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-5</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[20].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[20].Seat_No, selected_bus[20].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-6</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[21].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[21].Seat_No, selected_bus[21].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-7</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[22].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[22].Seat_No, selected_bus[22].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-8</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[23].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[23].Seat_No, selected_bus[23].Seat_type)
            "
          />
        </label>
      </div>
    </div>
  </div>
  <div class="row6">
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-9</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[24].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[24].Seat_No, selected_bus[24].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-10</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[25].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[25].Seat_No, selected_bus[25].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-11</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[26].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[26].Seat_No, selected_bus[26].Seat_type)
            "
          />
        </label>
      </div>
    </div>
    <div class="seat-box">
      <div class="small-box">
        <p class="seat-number">SLU-12</p>
        <label class="checkbox-label">
          <input
            type="checkbox"
            [value]="selected_bus[27].BusNo"
            name="selectedItems"
            (change)="
              isSelected(selected_bus[27].Seat_No, selected_bus[27].Seat_type)
            "
          />
        </label>
      </div>
    </div>
  </div>
  <!-- <button type="submit" (click)="selectedValue()">Book</button> -->
  <button type="submit" (click)="displaySelectedItems()">Submit</button>
</div>

<div *ngIf="canBook">
  <p>Total Cost:{{ Cost }}</p>
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="myForm">
      <div class="main" *ngFor="let obj of selectedItems">
        <p>Seat No:{{ obj }}</p>

        <div class="name">
          <label for="name">Name:</label>
          <input type="text" formControlName="name" />
        </div>
        <div>
          <label for="male">Male</label>
          <input type="radio" id="male" formControlName="gender" value="male" />

          <label for="female">Female</label>
          <input
            type="radio"
            id="female"
            formControlName="gender"
            value="female"
          />

          <label for="other">Other</label>
          <input
            type="radio"
            id="other"
            formControlName="gender"
            value="other"
          />
        </div>
        <div class="age">
          <input type="number" formControlName="age" />
        </div>
      </div>
    </div>
    <button type="submit">add</button>
  </form>
</div>
